.overlay {
  position: absolute;
  z-index: 0;
  background-color: rgb(0 0 0/0.6);
  height: 100%;
  width: 100%;
}
/* Шапка сайта */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 50px;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.header__links {
  display: flex;
  list-style: circle;
  gap: 32px;
  text-transform: lowercase;
}

.header__links > li:first-child {
  list-style: none;
}

.header__links > li:first-child a {
  text-decoration: none;
}

.header__logo-image {
  margin-right: 145px;
  max-width: 135px;
}

.contacts {
  max-width: 240px;
  list-style: none;
  word-wrap: break-word;
  line-height: 1.35em;
}

/* Первый раздел сайта */

.cover {
  position: relative;
  margin-bottom: 181px;
  z-index: 0;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

/* ОНО ТЕБЕ НАДО */
.cover__title {
  position: relative;
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  padding-top: 165px;
  padding-left: 50px;
}

.second-word {
  padding-top: 9px;
  padding-left: 30px;
}

.third-word {
  padding-top: 2px;
}
/* Аукцион вещей в которые никто не верил */
.cover__description {
  position: relative;
  display: flex;
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  padding: 126px 50px 50px 0;
  justify-content: end;
  gap: 78px;
  align-items: center;
  word-spacing: 18px;
}

.bet-button {
  position: relative;
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  width: 257px;
  height: 52px;
}

.align__center {
  display: block;
  position: relative;
  text-align: center;
  justify-self: end;
  margin-right: 110px;
}

.align__right {
  display: block;
  position: relative;
  text-align: right;
  margin-right: 20px;
}

.spacing-left {
  margin-left: 0.3em;
}
.spacing-right {
  margin-right: 0.3em;
}

.letter-space {
  letter-spacing: 0.3em;
}

/* Второй раздел сайта */

.lots {
  padding: 0 50px 180px 50px;
}

.lots__heading {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  background-size: cover;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.card__title {
  margin: 55px 40px 0 40px;
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  word-wrap: break-word;
  position: relative;
  z-index: 1;
}

.card__text {
  padding: 0 40px 55px 40px;
  display: flex;
  color: white;
  line-height: 1.2em;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-left: 40px;
  text-transform: lowercase;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

/* Третий раздел сайта */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 20% 80%;
  margin: 0 50px 181px 40px;
}

.about__logo {
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.about__logo-image {
  position: relative;
  max-width: 148px;
}

.about__title {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  padding-left: 15px;
  padding-top: 7px;
}
.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  padding-left: 15px;
  padding-top: 11px;
}

.about__text p:not(:last-child) {
  margin-bottom: 27px;
}

/* Футер */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 90px 50px;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer__links {
  text-align: center;
  list-style: none;
  text-transform: lowercase;
}

.footer__links > li:first-child a {
  text-decoration: none;
}

.socials {
  display: flex;
  list-style: none;
  max-width: 240px;
  gap: 48px;
}

.contacts a {
  text-decoration: none;
  border-bottom: solid 1px;
}

.address {
  font-style: normal;
}
