/* Шапка сайта */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 91px;
  margin-left: 51px;
  margin-right: 49px;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.header__links {
  display: flex;
  list-style: circle;
  gap: 32px;
  text-transform: lowercase;
  /* text-decoration: underline; */
}
.header__links > li:first-child {
  list-style: none;
}
.logo {
  margin-right: 150px;
  max-width: 135px;
}
.contacts {
  max-width: 240px;
  list-style: none;
  word-wrap: break-word;
  line-height: 25px;
}

/* Первый раздел сайта */

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 181px;
  z-index: 0;
  /* justify-content: center; */
  /* padding: 378.5px 720px 378.5px 720px; */
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

/* .cover__image {
  filter: brightness(60%);
  background-size: cover;
} */
.cover__title {
  /* position: absolute;
  z-index: 1; */
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  margin-top: 165px;
  margin-bottom: 5px;
  /* width: 100%; */
  /* padding: 5px 50px 0 50px; */
  padding-left: 50px;
  /* letter-spacing: 0.3em; */
  /* line-height: 1.28em;
  line-height: 122px; */
}

.cover__subtext {
  /* position: absolute;
  z-index: 1; */
  display: flex;
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  /* margin-top: 190px; */
  /* top: 90%; */
  padding: 130px 50px 0 0;
  margin-bottom: 50px;
  justify-content: end;
  gap: 78px;
  align-items: center;
  word-spacing: 19px;
}

.cover__btn {
  /* position: absolute;
  z-index: 1; */
  color: white;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  width: 257px;
  height: 52px;
}

.aligned__text {
  display: block;
}

.align__center {
  position: relative;
  text-align: center;
  justify-self: end;
  margin-right: 110px;
}

.align__right {
  position: relative;
  text-align: right;
  margin-right: 50px;
}

.spacing-left {
  margin-left: 0.3em;
}
.spacing-right {
  margin-right: 0.3em;
}

.letter-space {
  letter-spacing: 0.3em;
}

/* Второй раздел сайта */

.lots {
  /* margin: 0 50px 181px 50px; */
  margin: 0 50px 180px 50px;
}

.items__title {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px;
  margin-left: 40px;
  text-transform: uppercase;
}

.items {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item__lot {
  position: relative;
  max-width: 430px;
  margin-bottom: 30px;
}

.lot__image {
  filter: brightness(33%);
}

.lot__image:hover {
  filter: brightness(60%);
}

.lot__title {
  z-index: 1;
  color: white;
  position: absolute;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  word-wrap: break-word;
  margin: 50px 40px 0 40px;
}

.lot__text {
  z-index: 1;
  position: absolute;
  color: white;
  top: 32%;
  display: flex;
  height: 50%;
  align-items: end;
  margin: 30px 40px 0 40px;
}

.lots__more {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-left: 40px;
  text-transform: lowercase;
}
/* Третий раздел сайта */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 20% 80%;
  margin: 0 50px 181px 40px;
}

.black-circle {
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.about__logo {
  position: relative;
  max-width: 148px;
}

.about__title {
  font-family: "Raleway", Impact, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  padding-left: 15px;
}
.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  grid-column: 2;
  grid-row: 2;
  /* gap: 55px; */
  align-self: end;
  padding-left: 15px;
  /* padding-right: 10px; */
  /* margin-top: 50px; */
  padding-top: 5px;
}

/* .about__text:not(:last-child) {
  margin-bottom: 100px;
} */

.about__text p:not(:last-child) {
  margin-bottom: 25px; /* Add a margin-bottom of 20 pixels */
}

/* Футер */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 90px 50px;
  font-family: "Raleway", Impact, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer__links {
  text-align: center;
  list-style: none;
  text-transform: lowercase;
  /* text-decoration: underline; */
}

.socials {
  display: flex;
  list-style: none;
  max-width: 240px;
  gap: 48px;
}

.contacts a {
  text-decoration: none;
  border-bottom: solid 1px;
}
